.aboutPage{
    img {
        max-height: 355px;
        width: auto;
        margin: 0 auto;
    }

    ion-card {
        margin: 20px;
        width: auto;
    }

    .cardStyle {
        background-color:#fff;

        .title {
            font-size: 18;
            margin-left: 15;
            margin-top: 20;
        }

        .description {
            font-size: 14;
            padding: 15;
        }
    }
}