<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons left>
            <button ion-button icon-only [routerLink]="'/home'">
                <ion-icon name="home"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title color="dark">About</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="aboutPage">
    <ion-card class="cardStyle">
        <img src="https://avatars2.githubusercontent.com/u/2154886?s=460&v=4">
        <ion-card-content>
            <ion-card-title>
                {{ autor.name }}
            </ion-card-title>
            <p>
                {{ autor.description }}
            </p>
        </ion-card-content>
        <ion-item>
            <ion-icon name="logo-twitter" item-start></ion-icon>
            Followers
            <ion-badge item-end>26k</ion-badge>
        </ion-item>
    </ion-card>
</ion-content>